:root {
    --c: darkcyan;
    --c2: cadetblue;
    --c3: #2d424a;
    --c4: aliceblue;
    --body: #131917;
    --font: white;
}

html {
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--body);
    color: var(--font);
    overflow-x: hidden;
    height: auto;
}

.header {
    width: 100%;
    height: 80px;
    background-color: var(--c3);
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    height: 60px;
    color: var(--font);
    background-color: black;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

/*HEADER*/
.logo {
    width: 20%;
    height: 60px;
    min-width: 200px;
    border-radius: 5px;
    margin: 5px;
}

.logoimg img {
    margin: 5px;
    margin-left: 10px;
    height: 50px;
    content: url(buzzhive-high-resolution-logo-color-on-transparent-background.png);
}

.navbar {
    width: 90%;
    background-color: var(--c3);
    margin: 10px;
    border-radius: 5px;
    margin-right: -5px;
    display: flex;
    flex-direction: row;
}

.navlinks {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav {
    margin: auto;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

.search {
    padding: 10px;
    height: 400px;
    border-radius: 5px;
}

.searchbar {
    height: 40px;
}

.searchbar input {
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    background-color: var(--body);
    color: var(--font);
    width: 100%;
}

.items {
    position: relative;
    z-index: 99;
    margin-top: 10px;
    margin-left: 10px;
    height: 85%;
    display: none;

    width: 100%;
}

.items ul {
    color: black;
}

#list {
    /*display: ;*/
    text-decoration: none;
    background-color: rgba(133, 131, 131, 0.911);
    height: auto;
    max-height: 100%;
    min-height: 50px;
    border-radius: 5px;
    padding-top: 5px;
    margin-right: 25px;
    width: 100%;
    overflow: scroll;
}

#list li {
    margin: 5px;
    margin-left: 25px;
    margin-top: 10px;
    display: flex;
}

#list li a {
    text-decoration: none;
    color: black;
}

.menu {
    display: none;
    margin: 5px;
}


/*intro*/
.introsec {
    display: flex;
    flex-direction: row;
}

.books {
    width: 15%;
    padding: 20px;
    padding-top: 0px;
    margin-left: -5px;
}

.books a {
    text-decoration: none;
    color: var(--font);
}

.book {
    background-color: var(--c3);
    margin: 10px;
    padding: 10px;
    margin-left: -20px;
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
}

.intro {
    width: 100%;

}

.intropara {
    animation-duration: 2s;
    animation-name: slidein;
    animation-delay: 5ms;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #131917;
    font-family: 'Bebas Neue', cursive;
}


@keyframes slidein {
    from {
        margin-bottom: 100%;
        margin-left: 100%;

    }

    60% {
        margin-left: -5%;

    }

    70% {
        margin-left: 2%;
    }

    80% {
        margin-left: -1%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.list {
    width: 30%;
    margin-top: 0px;
}

.list iframe {
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 5px;
}

.frame {
    border: none;
    width: 100%;
    margin: auto;
    color: var(--font);
}

/*Body*/
.par {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

.par h1 {
    font-family: 'Rubik Bubbles', cursive;
}

.block {
    background-color: #2d424a;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
}

.blocklist {
    border-radius: 5px;
    text-align: left;
    padding: 20px;
}

.block a {
    text-decoration: none;
    color: var(--font);
}

.blocklist a:hover {
    color: rgb(100, 200, 100);
    animation-duration: 0.7s;
    animation-name: hov;
    animation-delay: 2ms;
}

.inactive a:hover {
    color: rgb(200, 100, 100);
    animation-duration: 0.7s;
    animation-name: hov;
    animation-delay: 2ms;
}

@keyframes hov {
    from {
        font-size: 20px;
    }

    50% {
        font-size: 22px;
    }

    to {
        font-size: 20px;
    }
}


/*w3schools dump*/
/*.navbar {
    overflow: hidden;
    background-color: #333;
  }*/

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:focus .dropbtn {
    background-color: rgba(0, 247, 255, 0.425);
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*FOOTER*/
.copyright {
    margin: 10px;
    font-size: 15px;
}

.diff {
    font-family: Times New Roman;
    font-size: 13px;
}

.links {
    font-size: 12px;
    margin: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 4 0px;
    font-size: 15px;
}

.links a {
    text-decoration: none;
    color: aliceblue
}

.links ul {
    list-style-type: none;
}

.links ul li img {
    height: 14px;
    margin-right: 10px;
    filter: invert(100%);
}

#disc {
    height: 11px;
}



/*Mobile phones*/
@media screen and (max-width:450px) {
    .logo {
        min-width: 10%;
        width: 10%;
    }

    .logoimg img {
        content: url(buzzhive-website-favicon-color.png);
    }

    .navbar {
        width: 80%;
        margin: 5px;
        margin-right: auto;
    }

    .nav {
        display: none;
    }

    .menu {
        display: block;
        margin: auto;
        margin-left: auto;
        width: 30%;
        margin-right: 5px;
        margin-left: 10px;
    }

    .intro {
        display: block;
    }

    .intropara {
        width: 100%;
        font-size: 20px;
    }

    .search {
        width: 80%;
        display: block;
        width: 100%;
    }

    .books {
        display: none;
    }

    .list {
        padding: 10px;
    }

    .list iframe {
        width: 290px;
    }

    .block {
        width: 90%;
    }
}

/*tablet view*/
@media screen and (min-width:450px) and (max-width:850px) {



    .navbar {
        width: 70%;
        margin: 5px;
        margin-right: auto;
    }

    .nav {
        display: none;
    }

    .menu {
        display: block;
        margin: auto;
        margin-left: auto;
        width: 15%;
        padding: 10px;
        margin: 5px;
    }

    .intro {
        display: block;
    }

    .intropara {
        width: 100%;
        font-size: 20px;
    }

    .search {
        width: 80%;
        display: block;
        width: 100%;
    }

    .books {
        display: none;
    }

    .list {
        padding: 10px;
    }

    .list iframe {
        width: 290px;
    }

    .block {
        width: 80%;
    }
}

/* w3schools dump */
/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sd
{
    z-index: 0;
    background-color: #111;
    box-shadow: none;
    animation-name: sdin;
    animation-duration: 1s;
    animation-delay: 10ms;
}

@keyframes sdin {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}