:root
{
    --c: darkcyan;
    --c2: cadetblue;
    --c3:#2d424a;
    --c4: aliceblue;
    --body:#131917;
    --font: white;
}

*{
    margin:0px;
    padding:0px;
}

body{
    background-color: var(--body);
    color:var(--font);
    overflow-x: hidden;
    height: auto;
    padding-bottom: 50px;
}

.header
{
    width:100%;
    height:80px;
    background-color: none;
    display: flex;
    flex-direction: row;
}
.footer
{
    width:100%;
    height:60px;
    color:var(--font);
    background-color: black;
    position:fixed;
    bottom:0px;
    display: flex;
    flex-direction: row;
}

/*HEADER*/
.logo
{
    width: 15%;
    height: 60px;
    background-color: var(--c3);
    margin: auto;
    min-width: 200px;
    border-radius: 5px;
    margin-left: -5px;
}
.logoimg img
{
    margin:5px;
    margin-left: 10px;
    height: 50px;
}
.navbar
{
    background-color:var(--c3);
    width: 85%;
    display: flex;
    flex-direction: row;
    margin:10px;
    border-radius: 5px;
    margin-right: -5px;
}

.nav
{
    margin: auto;
}
.op
{
    width:10%;
    cursor: pointer;
}
.op select
{
    background-color: var(--c3);
    border:none;
    font-size: 18px;
    -webkit-appearance: none;
    color: var(--font);
    cursor: pointer;
}
.about a
{
    text-decoration: none;
    color: var(--font);
    font-size: 18px;
}
.search
{
    padding: 10px;
    padding-right: 0px;
    width: 30%;
    height: 400px;
    margin-right: 0px;
    position: relative;
    top:0px;
    border-radius: 5px;
}
.searchbar
{
    height: 40px;
}
.searchbar input
{
    margin-left: 10px;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    background-color: var(--body);
    color: var(--font);
}
.items
{
    position: relative;
    z-index: 99;
    margin-top: 10px;
    margin-left: 10px;
    height: 85%;
    display: none;
    opacity: 100%;
}
.items ul{
    /*list-style: none;*/
    color: black;
}
#list
{
    /*display: ;*/
    text-decoration: none;
    background-color: rgba(133, 131, 131, 0.911);
    height: auto;
    max-height: 100%;
    min-height: 50px;
    border-radius: 5px;
    padding-top: 5px;
    margin-right: 25px;
    overflow:scroll;
}
#list li
{
    margin:5px;
    margin-left: 25px;
    margin-top: 10px;
}
#list li a
{
    text-decoration: none;
    color: black;
}

/*intro*/
.introsec
{
    display: flex;
    flex-direction: row;
}
.books
{
    width:15%;
    padding:20px;
    padding-top: 0px;
    margin-left: -5px;
}
.book
{
    background-color: var(--c3);
    margin:10px;
    padding: 10px;
    margin-left: -20px;
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
}
.intro
{
    width: 85%;
    margin: 10px;
    margin-right: -5px;
    display: flex;
    flex-direction: row;
}
.intropara
{
    width: 70%;
    margin: auto;
    margin-top:30px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    background-color: #131917;
}
.list
{
    width: 30%;
    margin-top: 0px;
}
.list iframe
{
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 5px;
}
.frame
{
    border: none;
    width: 100%;
    margin: auto;
    color: var(--font);
}

/*Body*/
.par
{
    margin: 50px;
}

/*FOOTER*/
.copyright
{
    margin:10px;
    font-size: 11px;
}
.links
{
    font-size: 12px;
    margin: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 4 0px;
}
.links a
{
    text-decoration: none;
    color :aliceblue
}
.links ul {
    list-style-type: none;
}
.links ul li img
{
    height: 14px;
    margin-right: 10px;
    filter: invert(100%);
}
#disc
{
    height:11px;
}



/*Mobile phones*/
@media screen and (max-width:450px)
{
    .logo
    {
        width:15%;
    }
    .op
    {
        display: none;
    }
    .navbar
    {
        margin: 5px;
    }

    .intro
    {
        display: block;
    }
    .search
    {
        width: 100%;
    }
    .books{
        display: none;
    }
    .list
    {
        padding: 10px;
    }
    .list iframe
    {
        width: 290px;
    }
}