:root
{
    --c: darkcyan;
    --c2: cadetblue;
    --c3:#2d424a;
    --c4: aliceblue;
    --body:#131917;
    --font: white;
}

*{
    margin:0px;
    padding:0px;
}

body{
    background-color: var(--body);
    color:var(--font);
    overflow-x: hidden;
}

.header
{
    width:100%;
    height:80px;
    background-color: none;
    display: flex;
    flex-direction: row;
}
.footer
{
    width:100%;
    height:50px;
    color:var(--font);
    background-color: black;
    position: absolute;
    bottom:0px;
}
.question
{
    font-size: 30px;
    width:80%;
    margin: auto;
    margin-top: 30px;
}
.list iframe
{
    border: none;
    width: 100%;
    margin: auto;
}

/*HEADER*/
.logo
{
    width: 15%;
    background-color: var(--c3);
    padding:20px;
    margin: auto;
    border-radius: 5px;
    margin-left: -5px;
}
.logotxt
{
    margin: auto;
}
.navbar
{
    background-color:var(--c3);
    width: 85%;
    display: flex;
    flex-direction: row;
    margin:10px;
    border-radius: 5px;
    margin-right: -5px;
}

.nav
{
    margin: auto;
}
.op
{
    width:10%;
    cursor: pointer;
}
.op select
{
    background-color: var(--c3);
    border:none;
    font-size: 18px;
    -webkit-appearance: none;
    color: var(--font);
    cursor: pointer;
}
.about a
{
    text-decoration: none;
    color: var(--font);
    font-size: 18px;
}
.search
{
    height: 20px;
}
.items
{
    position: relative;
    z-index: 99;
}
.items ul{
    list-style: none;
}
#list
{
    display: none;
    text-decoration: none;
    height: 150px;
    background-color: aliceblue;
}
#list li
{
    margin:5px;

}
#list li a
{
    text-decoration: none;
    color: black;
}

/*Mobile phones*/
@media screen and (max-width:450px)
{
    .logo
    {
        width:15%;
    }
    .op
    {
        display: none;
    }
    .navbar
    {
        margin: 5px;
    }
}